/WebContent/WEB-INF/classes/ntut/*.class
build
_UnitTest

/StartDate.log
/WebContent/Workspace/*/_metadata
/WebContent/Workspace/_metadata/its_config.xml
/ezScrum_FTPServer_Config.txt
/TestData/MyWorkspace_bk/_metadata/its_config.xml
/TestData/TestConfig.properties
/WebContent/RoleBase.xml
/WebContent/RoleBase.xml

/robotTesting/keywords/lib/*.pyc

/dist

/TestData/TestWorkspace/RoleBase.xml
