
build
_UnitTest
/dist
/StartDate.log

/WebContent/Workspace/*/_metadata
/WebContent/WEB-INF/classes/ntut/*.class

/TestData/TestConfig.properties
/ezScrum_FTPServer_Config.txt

/TestData/TestWorkspace/RoleBase.xml
/TestData/MyWorkspace_bk/RoleBase.xml

/robotTesting/keywords/lib/*.pyc
/bin

/robotTesting/plugin/lib/*.pyc

/ezScrum.ini
/WebContent/Workspace/RoleBase.xml
/WebContent/Workspace/AttachFile
/upload_tmp
