.FailMessage{
	FONT-WEIGHT:BOLD;
	COLOR:#FF3937;
}

.WarningMessage{
	FONT-WEIGHT:BOLD;
	COLOR:#abcc08;
}

.ReportBorder{
	BORDER-TOP: 1px solid #A9A9A9;
	BORDER-LEFT: 1px solid #A9A9A9;
	FONT-SIZE: 12px;
	font-family: Arial, Helvetica, sans-serif;
	empty-cells: show;
}



.TaskBoardReportBorder{
	BORDER: 1px solid #222222;
	FONT-SIZE: 12px;
	font-family: Arial, Helvetica, sans-serif;
	empty-cells: show;
	border-collapse:collapse;
}

.StoryReportBorder{
	BORDER: 5px double #222222;
	FONT-SIZE: 12px;
	font-family: Arial, Helvetica, sans-serif;
	empty-cells: show;
	border-collapse:collapse;
}

.TaskBoardReportBody {
	BORDER: 1px solid #222222;
}

.ReportFrame{
	BORDER-TOP: 1px solid #A9A9A9;
	BORDER-LEFT: 1px solid #A9A9A9;
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	FONT-SIZE: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.ReportFrameWithoutBorder{
	BORDER-TOP: 0px solid #A9A9A9;
	BORDER-LEFT: 0px solid #A9A9A9;
	BORDER-BOTTOM: 0px solid #A9A9A9;
	BORDER-RIGHT: 0px solid #A9A9A9;
	FONT-SIZE: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.ReportFrameTitle{
	BORDER-TOP: 1px solid #A9A9A9;
	BORDER-LEFT: 1px solid #A9A9A9;
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	FONT-SIZE: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #DCDCDC;
}

.ReportHead {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	font-weight: bolder;
	background-color: #ECECEC;
}
.ReportHeadWithoutRight {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 0px;
	font-weight: bolder;
	background-color: #ECECEC;
}

.TBReportHead {
	BORDER-BOTTOM: 1px solid #222222;
	BORDER-RIGHT: 1px solid #222222;
	font-weight: bolder;
	background-color: #ECECEC;
}
.TBReportHeadWithoutRight {
	BORDER-BOTTOM: 1px solid #222222;
	BORDER-RIGHT: 0px;
	font-weight: bolder;
	background-color: #ECECEC;
}

.StoryReportHead {
	BORDER: 1px solid #222222;
	font-weight: bolder;
	background-color: #EFA2A1;
}

.TaskReportHead {
	BORDER: 1px solid #222222;
	font-weight: bolder;
	background-color: #BFBFFF;
}

.BlueReportHead {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	font-weight: bolder;
	background-color: #BFBFFF;
}

.TBReportSuccessHead {
	BORDER: 1px solid #222222;
	font-weight: bolder;
	background-color: #B1FF3E;
}

.TBReportFailHead {
	BORDER: 1px solid #222222;
	font-weight: bolder;
	background-color: #FF6347;
}

.TBReportWarningHead {
	BORDER: 1px solid #222222;
	font-weight: bolder;
	background-color: #FDFF55;
}

.ReportSuccessHead {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	font-weight: bolder;
	background-color: #B1FF3E;
}

.ReportFailHead {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	font-weight: bolder;
	background-color: #FF6347;
}

.ReportWarningHead {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	font-weight: bolder;
	background-color: #FDFF55;
}

.ReprotWarningHeadStoryWithoutRight {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 0px solid #A9A9A9;
	font-weight: bolder;
	background-color: #FFFFE0;
}

.ReprotWarningHeadStory {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	font-weight: bolder;
	background-color: #FFFFE0;
}

.ReportBody {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
}

.ReportBodyFontRed {
	BORDER-BOTTOM: 1px solid #A9A9A9;
	BORDER-RIGHT: 1px solid #A9A9A9;
	COLOR: red;
}

.ReportBodyRightBorder {
	BORDER-RIGHT: 1px solid #A9A9A9;
}
.ReportBodyBottomBorder {
	BORDER-BOTTOM: 1px solid #A9A9A9;
}

.ReportBodyWithoutRight {
	BORDER-BOTTOM: 1px solid #A9A9A9;
}

.ReportElementTitle{
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	FONT-SIZE: 14px;
}

.ReportTitle{
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: #708090;
	font-weight: bold;
}

.ReportTitleName{
	color: Black;
}

.ReportInfo{
	font-family: Arial;
	font-size: 12px;
}

.ReportInfoButtom{
	font-family: Arial;
	font-size: 12px;
	BORDER-BOTTOM: 3px solid;
	font-weight: bolder;
}

.ReportInfoUser{
	color: Blue;
}

.PrintableReportBody{	
	HEIGHT: 1in;
}

.PrintableSquareBody{
	BORDER-TOP: 3px solid;
	BORDER-LEFT: 3px solid;	
	BORDER-BOTTOM: 3px solid;
	BORDER-RIGHT: 3px solid;
	width: 115;
	height: 115;	
	padding: 5px;
}

.PrintableNumberFont{
	FONT-SIZE: 48px;
	font-weight: bolder;	
}

.PrintableInnerReportBorder{
	width: 520;
	height: 115;
	BORDER-TOP: 3px solid;
	BORDER-LEFT: 3px solid;	
	BORDER-BOTTOM: 3px solid;
	BORDER-RIGHT: 3px solid;
	FONT-SIZE: 20px;
	font-family: Arial, Helvetica, sans-serif;
	empty-cells: show;	
	padding: 5px;
	font-weight: bolder;
	table-layout:fixed;
	overflow:hidden;
}

.PrintableTitleReportBorder{
	width: 520;
	BORDER: 115;
	FONT-SIZE: 28px;
	font-weight: bolder;
	font-family: Arial, Helvetica, sans-serif;
	table-layout:fixed;
	overflow:hidden;
}

.PrintableReportBorder{
	BORDER-TOP: 3px solid;
	BORDER-LEFT: 3px solid;	
	BORDER-BOTTOM: 3px solid;
	BORDER-RIGHT: 3px solid;
	FONT-SIZE: 20px;
	font-family: Arial, Helvetica, sans-serif;
	empty-cells: show;	
	padding: 5px;
	font-weight: bolder;
}

.PrintableBottomBorder{
	BORDER-BOTTOM: 3px solid;
	FONT-SIZE: 20px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}

.NoBorderTable{
	BORDER-TOP: 0px solid;
	BORDER-LEFT: 0px solid;	
	BORDER-BOTTOM: 0px solid;
	BORDER-RIGHT: 0px solid;
	FONT-SIZE: 20px;
	font-family: Arial, Helvetica, sans-serif;
	empty-cells: show;	
}

.InformationTitle{	
	FONT-SIZE: 36px;
	font-weight: bolder;
}

.InformationSubtitle{	
	FONT-SIZE: 28px;
	font-weight: bolder;
}
